@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#network path:hover{
  fill: #e56600;
}

#margin p {
  margin-bottom: 16px;
}